.sec-port {
    margin-top: 61px;
    @media screen and (min-width:768px) {
        margin-top: 81px;
    }
}

.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}


.portfolio-button {
    padding: 6px 22px;
    min-width: 14px;
    border: none;
    border-radius: 4px;


    color: var(--title-text-color);
    background-color: var(--background-button);

    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-hover {
    position: relative;
    display: block;
    transition: box-shadow var(--transition);
}

.portf-cont {
    position: relative;
    overflow: hidden;
}

.fifth {
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    padding: 20px 24px;
}

.fifth .item:not(:last-child) {
    margin-right: 30px;
}


.overlay-text {
    position: absolute;
    top: 0;
    left: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    padding: 63px 24px;
    height: 100%;

    transform: translateY(100%);
    transition: transform var(--transition);


    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-hover {
    transition: box-shadow var(--transition);
}

.portfolio-hover:hover,
.portfolio-hover:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-hover:hover .overlay-text,
.portfolio-hover:focus .overlay-text {
    transform: translateY(0);
}


.portfolio-menu {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-menu .item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-head {
    margin-bottom: 4px;
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-link {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.88;
}


.main-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.main-portfolio .item {
    width: 370px;
}



.image-portfolio {
    display: block;
}