.solution {
  @media screen and (max-width:1199px) {
    display: none;
  }

  @include padding;

  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__head {
    color: var(--primary-white-color);

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
  }
  &__item {
      position: relative;
  }

  &__text {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 224px;

      width: 370px;
      height: 70px;
      background-color: rgba(47, 48, 58, 0.8);
  }
}

.cont-work p {
  margin-top: 0px;
  margin-bottom: 124px;
}